<link rel="stylesheet" href="img/app.css"/>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />

<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<p>
				Search: <input ng-model="$ctrl.query">
			</p>
			<p>
				Sort by:
				<select ng-model="$ctrl.orderProp">
					<option value="name">Alphabetical</option>
					<option value="age">Newest</option>
				</select>			
			</p>
		</div>

		<div class="col-md-10">
			<ul>
			  <li ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail">
			    <a href="#/phones/{{phone.id}}" class="thumb">
			  		<img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}">
			  	</a>
			    <a href="#/phones/{{phone.id}}">
			    	name: {{phone.name}}
			    </a>
			    <p>sinnpet: {{phone.snippet}}</p>	  
			  </li>
			</ul>
		</div>
	</div>

</div>



