<ul  class="dropdown-menu">
  <li >
    <a  role="menuitem" tabindex="-1" ng-click="openItem(1)">
      <i class="marR10 icon-envelope-o icon-blue"></i>Email
    </a>
  </li>
  <li >
    <a role="menuitem" tabindex="-1" ng-click="openItem(2)">
      <i class="marR10 icon-file-pdf-o icon-blue"></i>PDF
    </a>
  </li>
  <li >
    <a role="menuitem" tabindex="-1" ng-click="openItem(3)">
      <i class="marR10 icon-file-excel-o icon-blue"></i>Excel
    </a>
  </li>
  <li >
    <a role="menuitem" tabindex="-1" ng-click="openItem(4)">
      <i class="marR10 icon-file-word-o icon-blue"></i>Word
    </a>
  </li>
</ul>
