<link rel="stylesheet" href="styles/left-menu.css"/><!--left menu css -->

<script src="scripts/jquery-1.10.2.min.js"></script>
<script src="scripts/modernizr.min.js"></script>
<script src="scripts/jquery.nicescroll.js"></script>
<script src="scripts/scripts.js"></script>



<section >
  <!-- left side start-->
  <div class="left-side sticky-left-side left-menu-body">
    <!--logo and iconic logo start-->
    <div class="logo">
      <a href="#/">
        <img src="images/HPE_logo.png" alt=""></a>
    </div>

    <div class="logo-icon text-center">
      <a href="#/">
        <img src="images/logo_icon.png" alt=""></a>
    </div>
    <!--logo and iconic logo end-->

    <div class="left-side-inner">
      <!--sidebar nav start-->
      <ul class="nav nav-pills nav-stacked custom-nav">
        <li>
          <div> <i class="fa fa-th"></i>
            <span class="menu-disable">1-Budgeting & Planning</span>
          </div>
        </li>

        <li>
          <a href=""> <i class="fa fa-clock-o"></i>
            <span>2-Contra Performance</span>
          </a>
        </li>

        <li>
          <a href="">
            <i class="fa fa-balance-scale"></i>
            <span>3-Competitive Pricing</span>
          </a>
        </li>
        <li class="menu-list">
          <a href="#/promo"> <i class="fa fa-home"></i>
            <span>Promo Management</span>
          </a>
          <ul class="sub-menu-list">
            <li>
              <a href="#/promo">Promo List</a>
            </li>
            <li>
              <a href="#/promo/new">Promo New</a>
            </li>
          </ul>
        </li>

        <li class="menu-list">
          <a href=""> <i class="fa fa-laptop"></i>
            <span>Promo Approval</span>
          </a>
          <ul class="sub-menu-list">
            <li>
              <a href="#/approval">Promo Approval</a>
            </li>
          </ul>
        </li>

        <li class="menu-list nav-active">
          <a href="">
            <i class="fa fa-cogs"></i>
            <span>Approver Management</span>
          </a>
          <ul class="sub-menu-list">
            <li class="active">
              <a href="#/approver">Approver Group</a>
            </li>
            <li>
              <a href="#/approver/edit">Approver Edit</a>
            </li>
          </ul>
        </li>
      </ul>
      <!--sidebar nav end--> </div>
  </div>
  <!-- left side end-->

  <!-- main content start-->
  <div class="main-content" >

    <!-- header section start-->
    <div class="header-section">
      <!--toggle button start-->
      <a class="toggle-btn">
        <i class="fa fa-bars"></i>
      </a>
      <!--toggle button end-->
      <span>
        <img src="images/droid.png" class="projecticon"></span>
    </div>
    <!-- header section end-->

    <!--body wrapper start-->
    <div class="wrapper">
 
      <div class="filter-seperator ">
        <div class="row form-inline">
          <div  class="col-xs-12 col-sm-12 col-md-12 ctr-filter">
            <div ng-if="filterBtn == true" id="btnFilter2" 
                  class="btn filter-float btn-filter clearEffects btn-filter-color" 
                  ng-click="clickFn('filter')">
              Filter
              <i class="marR10 icon-chevron-down icon-blue btn-filter-color"></i>
            </div>
            <div ng-if="filterBtn == false" id="btnFilter2" 
                  class="btn filter-float btn-filter btn-filter-color withEffects" 
                  ng-click="clickFn('filter-close')">
              Filter
              <i class="marR10 icon-chevron-up icon-blue"></i>
            </div>
          </div>
        </div>

        <div id="filterId" ng-show="filterPanel">
          <div class="form-group">
            <form role="form">
              <div class="row">
                <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
                  <label>GBU:</label>
                </div>
                <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="GBU" style="width:100%"></div>
                </div>

                <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
                  <label class="nowrap">Region:</label>
                </div>
                <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
                  <div class="input-group">
                    <input type="text"  class="form-control"  placeholder="Region"></div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
                  <label>Approver Group Name:</label>
                </div>
                <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Group Name" style="width:100%"></div>
                </div>

                <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
                  <label class="nowrap">Approver Group Type:</label>
                </div>
                <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
                  <div class="input-group">
                    <input type="text"  class="form-control"  placeholder="Group Type"></div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6 col-md-6  col-lgf-2 col-h">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myAddGroup">Add</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>


      <div class="top-padding10">
        <div class="row search-bar">
          <div class="col-sm-12">
            <div class="input-group">
              <span class="input-group-addon marL5">
                <i class="icon-search"></i>
              </span>
              <input class="form-control ng-pristine ng-valid ng-touched" placeholder="Quick find for..." type="text" ng-model="gridOptions.quickFilterText"></div>
          </div>
        </div>

        <div id="grid1" ui-grid="{ data: myData }" class="grid" ui-grid-auto-resize></div>

        <div class="tb-padding10 text-right">
          <div class="row">
            <div class="col-sm-12 col-md-12  col-lgf-12 addtolist">
              <button type="button" class="btn btn-primary">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--body wrapper end-->




    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myAddGroup" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-sheet">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Add New Group</h4>
          </div>
          <div class="modal-body">

            <div class="row">                        
              <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
                <label class="nowrap">Region:</label>
              </div>
              <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
                <div class="input-group">
                  <button type="button" id="dropdownMenu1" 
              data-toggle="dropdown" class="btn btn-default form-control ctm-content">
                    <span class="btntext zselect">Choose Region...</span>                          
                    <span class="fa fa-chevron-down pull-right icon-blue" aria-hidden="true"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="#">item one</a>
                    </li>
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="#">item two</a>
                    </li>
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="#">item three</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
                <label class="nowrap">Country:</label>
              </div>
              <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
                <div class="input-group">
                  <button type="button" id="dropdownMenu1" 
              data-toggle="dropdown" class="btn btn-default form-control ctm-content">
                    <span class="btntext zselect">Choose Country...</span>                          
                    <span class="fa fa-chevron-down pull-right icon-blue" aria-hidden="true"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="#">item one</a>
                    </li>
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="#">item two</a>
                    </li>
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="#">item three</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
                <label class="nowrap">Subregion:</label>
              </div>
              <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
                <div class="input-group">
                  <button type="button" id="dropdownMenu1" 
              data-toggle="dropdown" class="btn btn-default form-control ctm-content">
                    <span class="btntext zselect">Choose Subregion...</span>                          
                    <span class="fa fa-chevron-down pull-right icon-blue" aria-hidden="true"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="#">item one</a>
                    </li>
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="#">item two</a>
                    </li>
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="#">item three</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-body">
                  <div class="row">                        
                    <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
                      <label class="nowrap">Guardrail Level Name:</label>
                    </div>
                    <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Guardrail Level Name..." >
                      </div>
                    </div>

                    <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
                      <label class="nowrap">Guardeail Level Number:</label>
                    </div>
                    <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
                      <div class="input-group">
                        <button type="button" id="dropdownMenu1" 
                    data-toggle="dropdown" class="btn btn-default form-control ctm-content">
                          <span class="btntext zselect">Choose Region...</span>                          
                          <span class="fa fa-chevron-down pull-right icon-blue" aria-hidden="true"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                          <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">item one</a>
                          </li>
                          <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">item two</a>
                          </li>
                          <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">item three</a>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
                      <label class="nowrap">Group Name:</label>
                    </div>
                    <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Group Name..." >
                      </div>
                    </div>
                    
                    <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
                      <label class="nowrap">Approval Group Sequence:</label>
                    </div>
                    <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
                      <div class="input-group">
                        <button type="button" id="dropdownMenu1" 
                    data-toggle="dropdown" class="btn btn-default form-control ctm-content">
                          <span class="btntext zselect">Choose Region...</span>                          
                          <span class="fa fa-chevron-down pull-right icon-blue" aria-hidden="true"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                          <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">item one</a>
                          </li>
                          <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">item two</a>
                          </li>
                          <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">item three</a>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
                      <label class="nowrap">Approval Require Type:</label>
                    </div>
                    <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
                    <div class="input-group">

                      <div class="row">
                        <div class="col-md-6">
                          <input type="radio" checked  ng-value="true" name="leveragedOrDedicated">
                          <span>All</span>
                        </div>
                        <div class="col-md-6">
                          <input type="radio"  ng-value="false" name="leveragedOrDedicated">
                          <span>Any</span>
                        </div> 
                    </div>
                      </div>
                    </div>

                    <div class="col-sm-6 col-md-3  col-lgf-2 col-h">
                        <div class="row">
                          <label class="col-md-12">
                            <input type="checkbox">
                            <span>Active</span>
                          </label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3  col-lgf-2 col-h">
                        <div class="row">
                          <label class="col-md-12">
                            <input type="checkbox">
                            <span>Auto Approve</span>
                          </label>
                        </div>
                    </div>
                                                                              
                  </div>
              </div>
            </div>
            <div id="grid1" ui-grid="{ data: myData }" class="grid" ui-grid-auto-resize></div>

            <div class="text-center tb-margin10">
              <button  class="btn btn-primary btn-hp btn-sm">Add</button>
              <button  class="btn btn-primary btn-hp btn-sm">Delete</button>              
              <button  class="btn btn-primary btn-hp btn-sm">Save</button>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-primary" 
               data-dismiss="modal">Close</button>
            </div>
          </div>
          <!-- /.modal-content --> 
        </div>
        <!-- /.modal --> 
      </div>
    </div>  
      <!--body wrapper end-->
 
    </div>
  <!-- main content end-->
<!-- main content end-->
</section>