<div class="row">
	<div class="col-md-4">
		<div >
		    <div class="container">
<div class="row">
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
	<i class="fa fa-arrow-left" aria-hidden="true"></i>
	<i class="fa fa-arrow-up" aria-hidden="true"></i>
	<i class="fa fa-arrow-down" aria-hidden="true"></i>
	<i class="fa fa-square" aria-hidden="true"></i>	    		
</div>

<div class="row">
    <i class="fa fa-arrow-right success" aria-hidden="true"></i>
	<i class="fa fa-arrow-left success" aria-hidden="true"></i>
	<i class="fa fa-arrow-up success" aria-hidden="true"></i>
	<i class="fa fa-arrow-down success" aria-hidden="true"></i>
	<i class="fa fa-square success" aria-hidden="true"></i>	    		
</div>

		    </div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="jumbotron">
		    <div class="container">
				<ul id="myTab" class="nav nav-tabs">
				    <li class="active">
				        <a href="javascript:void(0);#home" data-toggle="tab">
				            W3Cschool Home
				        </a>
				    </li>
				    <li><a href="javascript:void(0);#ios" data-toggle="tab">iOS</a></li>
				    <li class="dropdown">
				        <a href="javascript:void(0);#" id="myTabDrop1" class="dropdown-toggle"
				           data-toggle="dropdown">Java
				            <b class="caret"></b>
				        </a>
				        <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
				            <li><a href="javascript:void(0);#jmeter" tabindex="-1" data-toggle="tab">jmeter</a></li>
				            <li><a href="javascript:void(0);#ejb" tabindex="-1" data-toggle="tab">ejb</a></li>
				        </ul>
				    </li>
				</ul>
				<div id="myTabContent" class="tab-content">

				    <div class="tab-pane fade in active " id="home" >
						<nvd3 options='options' data='data' ></nvd3>
				    </div>

				    <div class="tab-pane fade" id="ios">

				       	<nvd3 options='options' data='data' api="api" on-ready="callback"></nvd3>

				    </div>

				    <div class="tab-pane fade" id="jmeter">
				    	jmeter Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
				    </div>
				    <div class="tab-pane fade" id="ejb">
							<nvd3 options='options' data='data' objectequality='true' ></nvd3>
				    </div>
				</div>	
			</div>
		</div>	
	</div>

	<div class="col-md-4">
		<div class="jumbotron">
		    <div class="container">
				<label>Panel demo</label>
				<div class="panel panel-default">
				    <div class="panel-heading">
				        <h3 class="panel-title">
				            with title panel
				        </h3>
				    </div>
				    <div class="panel-body">
				       Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
				    </div>
				</div>
		    </div>
		</div>		
	</div>
</div>	

<div class="row">
	<div class="col-md-4">
		<div class="jumbotron">
		    <div class="container">
		    <label>nvd3</label>
			<div class="panel-body">
			<nvd3 options='options' data='data'></nvd3>
			</div>
		    </div>
		</div>		
	</div>

	<div class="col-md-4">
		<div class="jumbotron">
		    <div class="container">
		        <h1>欢迎登陆页面！</h1>
		        <p>这是一个超大屏幕（Jumbotron）的实例。</p>
		        <p><a class="btn btn-primary btn-lg" role="button">
		         学习更多</a>
		        </p>
		    </div>
		</div>		
	</div>

	<div class="col-md-4">
		<div class="jumbotron">
		    <div class="container">
		        <h1>欢迎登陆页面！</h1>
		        <p>这是一个超大屏幕（Jumbotron）的实例。</p>
		        <p><a class="btn btn-primary btn-lg" role="button">
		         学习更多</a>
		        </p>
		    </div>
		</div>		
	</div>
</div>	

<div class="row">
	<div class="col-md-4">
		<div class="jumbotron">
		    <div class="container">
		        <h1>欢迎登陆页面！</h1>
		        <p>这是一个超大屏幕（Jumbotron）的实例。</p>
		        <p><a class="btn btn-primary btn-lg" role="button">
		         学习更多</a>
		        </p>
		    </div>
		</div>		
	</div>

	<div class="col-md-4">
		<div class="jumbotron">
		    <div class="container">
		        <h1>欢迎登陆页面！</h1>
		        <p>这是一个超大屏幕（Jumbotron）的实例。</p>
		        <p><a class="btn btn-primary btn-lg" role="button">
		         学习更多</a>
		        </p>
		    </div>
		</div>		
	</div>

	<div class="col-md-4">
		<div class="jumbotron">
		    <div class="container">
		        <h1>欢迎登陆页面！</h1>
		        <p>这是一个超大屏幕（Jumbotron）的实例。</p>
		        <p><a class="btn btn-primary btn-lg" role="button">
		         学习更多</a>
		        </p>
		    </div>
		</div>		
	</div>				
</div>


<ul class="themes">
	<li class="first"><a href="#" class="tab-switch">Tab</a></li>
	<li><a href="#" class="pill-switch">Pill</a></li>
	<li><a href="#" class="link-switch">Link</a></li>
	<li><a href="#" class="image-switch">Image</a></li>
</ul>