<link rel="stylesheet" href="styles/left-menu.css"/>

<script src="scripts/modernizr.min.js"></script>
<script src="scripts/jquery.nicescroll.js"></script>
<script src="scripts/scripts.js"></script>


<section>
  <div class="left-side sticky-left-side left-menu-body">
    <!--logo and iconic logo start-->
    <div class="logo">
      <a href="#/">
        <img src="images/HPE_logo.png" alt=""></a>
    </div>

    <div class="logo-icon text-center">
      <a href="#/">
        <img src="images/logo_icon.png" alt=""></a>
    </div>
    <!--logo and iconic logo end-->

    <runoob-directive></runoob-directive>
  </div>

  <div class="main-content">
    <!-- header section start-->
    <div class="header-section">
      <!--toggle button start-->
      <a class="toggle-btn">
        <i class="fa fa-bars"></i>
      </a>
      <span class="droid-icon">
        <img src="images/droid.png" class="projecticon"></span>

      <!--toggle button end-->
      <div class="menu-right">
        <i class="fa fa-user"></i>
        <span>Jason Zhang(Administrator)</span>
      </div>
    </div>
    <!-- header section end-->

    <!--body wrapper start-->
    <div class="wrapper">
      <div> 
        <ul id="myTab" class="nav nav-tabs">
          <li class="tab-title"><a href="javascript:void(0);#Tab1" data-toggle="tab">Event Design</a></li>
          <li class="active tab-title"><a href="javascript:void(0);#Tab2" data-toggle="tab">Forecast Modeling</a></li>
          <li class="tab-title"><a href="javascript:void(0);#Tab3" data-toggle="tab">Finacial Review</a></li>
          <li class="tab-title"><a href="javascript:void(0);#Tab4"  data-toggle="tab">Submit for Approval</a></li>
        </ul>
      </div>

      <div class="row top-margin10">
        <div class="col-sm-12 col-md-12  col-lgf-12">
          <div class="btn-group right-margin10" role="group" aria-label="...">
            <button type="button" class="btn btn-primary">
              <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-primary">
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </button>        
          </div>
          <div class="btn-group right-margin10" role="group" aria-label="...">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add Product</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal3">Import SKUs from csv</button>
            <button type="button" class="btn btn-danger" data-toggle="modal" 
        data-target="#myModalDelete">Delete</button>
          </div> 
        </div>  
      </div>

      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="Tab1">
          <div class="row search-bar top-padding10 tb-padding5">
            <div class="col-sm-6 col-md-6">
              <div class="input-group">
                <div class="input-group">
                  <span class="input-group-addon marL5">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </span>
                  <input class="form-control ng-pristine ng-valid ng-touched" placeholder="Quick search by keyword..." type="text" ng-model="gridOptions.quickFilterText">
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6  col-lgf-6">

              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-table"></i>
                </span>

                <div class="dropdown input-group">
                  <button type="button" id="dropdownMenu2" 
                      data-toggle="dropdown" class="btn btn-default form-control ctm-content">
                    <span class="btntext zselect">Summary View</span>
                    <span class="fa fa-chevron-down pull-right icon-blue" aria-hidden="true"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="avascript:void(0);#myModal2" data-toggle="modal">
                        <i class="fa fa-cog iconPadding5" aria-hidden="true"></i>Customize View</a>
                    </li>
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="#">View Model 1</a>
                    </li>
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="#">View Model 2</a>
                    </li>
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="#">View Model 3</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
          <div id="grid1" ui-grid="gridOptions" class="grid" ui-grid-auto-resize></div>

          <!--20160926 change tab version-->
          <div class="panel panel-default">
            <div class="panel-heading"> 
              <h3 class="panel-title ng-binding">
                  SKU: J8177C
                  <span class="panel-title-divide ng-binding">
                    HPE X121 1G SFP RJ45 T Transceiver          
                    </span>
                  <span class="panel-title-divide ng-binding">$108</span>
              </h3> 
            </div>
            <div class="panel-body"> 
              <ul id="myTab" class="nav nav-tabs">
                <li class="active tab-title"><a href="javascript:void(0);#Dashboard" data-toggle="tab">Country Level Pricing Dashboard</a></li>
                <li class="tab-title"><a href="javascript:void(0);#Price" data-toggle="tab">Qty vs. Net Price</a></li>
                <li class="tab-title"><a href="javascript:void(0);#Margin" data-toggle="tab">Net Rev vs. Gross Margin %</a></li>
              </ul>

              <div id="myTabContent" class="tab-content top-margin">       
                <div class="tab-pane fade in active" id="Dashboard">
                  <div class="col-md-6">
                    <div class="panel panel-default"> 
                      <div class="panel-heading"> 
                        <h3 class="panel-title"> 
                          Net Rev ($) 
                        </h3> 
                      </div> 
                      <div class="panel-body"> 
                        <nvd3 options='options' data='data'></nvd3> 
                      </div> 
                    </div>                
                  </div>
                  <div class="col-md-6">
                    <div class="panel panel-default"> 
                      <div class="panel-heading"> 
                        <h3 class="panel-title"> 
                          Gross Margin ($, %) 
                        </h3> 
                      </div> 
                      <div class="panel-body"> 
                        <nvd3 options='options' data='data'></nvd3> 
                      </div> 
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade in" id="Price">
                  <div class="col-md-6">
                    <div class="panel panel-default"> 
                      <div class="panel-heading"> 
                        <h3 class="panel-title"> 
                          Net Rev ($) 
                        </h3> 
                      </div> 
                      <div class="panel-body"> 
                        <nvd3 options='options' data='data'></nvd3> 
                      </div> 
                    </div>                
                  </div>
                  <div class="col-md-6">
                    <div class="panel panel-default"> 
                      <div class="panel-heading"> 
                        <h3 class="panel-title"> 
                          Gross Margin ($, %) 
                        </h3> 
                      </div> 
                      <div class="panel-body"> 
                        <nvd3 options='options' data='data'></nvd3> 
                      </div> 
                    </div>
                  </div>              
                </div>
                <div class="tab-pane fade in" id="Margin">
                  <div class="col-md-6">
                    <div class="panel panel-default"> 
                      <div class="panel-heading"> 
                        <h3 class="panel-title"> 
                          Net Rev ($) 
                        </h3> 
                      </div> 
                      <div class="panel-body"> 
                        <nvd3 options='options' data='data'></nvd3> 
                      </div> 
                    </div>                
                  </div>
                  <div class="col-md-6">
                    <div class="panel panel-default"> 
                      <div class="panel-heading"> 
                        <h3 class="panel-title"> 
                          Gross Margin ($, %) 
                        </h3> 
                      </div> 
                      <div class="panel-body"> 
                        <nvd3 options='options' data='data'></nvd3> 
                      </div> 
                    </div>
                  </div>            
                </div>                           
              </div>          
            </div> 
          </div> 

        </div>
      </div>  

        <!-- (Modal0) start -->
        <div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" 
      aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header-warning">
                <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Warning Message</h4>
              </div>
              <div class="modal-body">
                <p>Do you want to save change to PoR: 12067-B11 when you are leaving current page?</p>
                <div class="row tb-margin10 lr-margin-15">
                   <div class="col-md-12">
                    <button type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-primary">Not Save</button>                  
                   </div> 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" 
                       data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- （Modal）end -->

      <!-- 模态框1（Modal） -->
      <div class="modal container-fluid ng-scope top am-fade" id="myModal" tabindex="-1" role="dialog" 
       aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-sheet">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" 
                   data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">SKU Advance Search</h4>
            </div>

            <div class="modal-body">
              <div class="form-group">
                <form role="form">
                  <div class="row">
                    <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
                      <label class="nowrap">Previous Plan:</label>
                    </div>
                    <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
                      <div class="input-group">
                        <input type="text" name="fromDate" class="form-control"></div>
                    </div>

                    <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
                      <label>Business Model:</label>
                    </div>
                    <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="EMEA"></div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
                      <label class="nowrap">BU:</label>
                    </div>
                    <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
                      <div class="input-group">
                        <input type="text"  class="form-control"  placeholder="6M"></div>
                    </div>

                    <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
                      <label>Program Name:</label>
                    </div>
                    <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Sub Region"></div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
                      <label class="nowrap">Product Category:</label>
                    </div>
                    <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
                      <div class="input-group">
                        <input type="text"  class="form-control"  placeholder="5M"></div>
                    </div>

                    <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
                      <label>Program Type:</label>
                    </div>
                    <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Country"></div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
                      <label class="nowrap">PL:</label>
                    </div>
                    <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
                      <div class="input-group">
                        <input type="text"  class="form-control"  placeholder="Select"></div>
                    </div>

                    <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
                      <label>No-Touch Classification:</label>
                    </div>
                    <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="eg.693687-B21"></div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
                      <label class="nowrap">Deal ID:</label>
                    </div>
                    <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
                      <div class="input-group">
                        <input type="text"  class="form-control"  placeholder="Select"></div>
                    </div>

                    <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
                      <label>Product ID:</label>
                    </div>
                    <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="eg.693687-B21"></div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12 col-md-12  col-lgf-12 col-h">
                      <button type="button" class="btn btn-primary right-margin10">Search</button>
                      <button type="button" class="btn btn-primary">Reset</button>
                    </div>

                  </div>
                </form>
              </div>

              <div class="row">
                <div class="col-sm-5 col-md-5 col-lg-5">
                  <div class="wrapper padding-left-right-10">
                    <label>Product List:</label>
                    <div id="grid1" ui-grid="{ data: myData1 }" class="grid" ui-grid-auto-resize ui-grid-selection></div>
                  </div>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 ">
                  <div class="row vertical-center">
                    <div class="col-sm-12 col-md-12 col-lg-12 ">
                      <button type="button" class="btn btn-primary ">&gt;&gt;</button>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 ptop10">
                      <button type="button" class="btn btn-primary ">&lt;&lt;</button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-5 col-md-5 col-lg-5">
                  <div class="wrapper padding-left-right-10">
                    <label>Selected List:</label>
                    <div id="grid1" ui-grid="{ data: myData1 }" class="grid" ui-grid-auto-resize ui-grid-selection></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" 
               data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary">Submit</button>
            </div>
          </div>
          <!-- /.modal-content --> </div>
        <!-- /.modal --> </div>
      </div>

      <!-- 模态框2（Modal） -->
      <div class="modal container-fluid ng-scope top am-fade" id="myModal2" tabindex="-1" role="dialog" 
       aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-sheet">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" 
                   data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Grid View Configuration</h4>
            </div>

            <div class="modal-body">
              <div class="form-group">
                <form role="form">
                  <div class="row">
                    <div class="col-sm-4 col-md-2">
                      <label class="nowrap">
                        View Name:
                      </label>
                    </div>

                    <div class="col-sm-8 col-md-3">
                      <div class="input-group">
                        <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched ng-empty" placeholder="Please input view name" title="Please input view name.">
                      </div>
                    </div>

                    <div class="col-sm-4 col-md-1">
                      <p>&nbsp</p>
                    </div>

                    <div class="col-sm-4 col-md-2">
                      <label class="nowrap">
                        View List:
                      </label>
                    </div>

                    <div class="col-sm-8 col-md-3">
                      <div class="dropdown input-group">
                        <button type="button" id="dropdownMenu2" 
                          data-toggle="dropdown" class="btn btn-default form-control ctm-content">
                          <span class="btntext zselect">Choose...</span>
                          <span class="fa fa-chevron-down pull-right icon-blue" aria-hidden="true"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                          <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Plan1</a>
                          </li>
                          <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Plan2</a>
                          </li>
                          <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Plan3</a>
                          </li>
                          <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Plan4</a>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="col-sm-4 col-md-1">
                      <p>&nbsp</p>
                    </div>

                    <div class="col-sm-6 col-md-6">
                      <div class="input-group">
                        <button type="button" class="btn btn-primary">Save View</button>
                      </div>  
                    </div>


                  </div>
                </form>
            </div>

            <div class="row">
              <div class="col-sm-6 col-md-5 col-lg-5">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Available Columns</h3>
                  </div>
                  <div class="panel-body">
                    <div id="grid1" ui-grid="{ data: myData2 }" class="grid" ui-grid-auto-resize></div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-1 col-lg-1">
                <div class="row vertical-center-view">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <button type="button" class="btn btn-primary "><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <button type="button" class="btn btn-primary "><i class="fa fa-angle-double-left" aria-hidden="true"></i></button>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-5 col-lg-5">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Selected Columns</h3>
                  </div>
                  <div class="panel-body">
                    <div id="grid1" ui-grid="{data: myData2}" class="grid" ui-grid-selection ui-grid-auto-resize></div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-1 col-lg-1">
                <div class="vertical-up-down">
                  <div class="">
                    <button type="button" class="btn btn-primary "><i class="fa fa-angle-double-up" aria-hidden="true"></i></button>
                  </div>
                  <div>
                    <button type="button" class="btn btn-primary "><i class="fa fa-angle-double-down" aria-hidden="true"></i></button>                    
                  </div>
                </div>  
              </div>              
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" 
                 data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary">Save</button>
            </div>
          </div>
          <!-- /.modal-content --> </div>
        <!-- /.modal --> </div>
      </div>

      <!-- 模态框3 for upload（Modal） -->
      <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" 
         aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-sheet">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" 
                     data-dismiss="modal" aria-hidden="true">
                        &times;
                  </button>
                  <h4 class="modal-title" id="myModalLabel">
                     Add attachment for SKU J4858C
                  </h4>
               </div>
               <div class="modal-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Please download a template from <a href=""><strong>here</strong></a>.
                  </p>
                <div class="form-group">
                  <form role="form">
                    <div class="row">
                      <div class="col-md-1">
                        <label>Source File:</label>
                      </div>
                      <div class="col-md-5">
                        <div class="input-group">
                          <span class="input-group-btn">
                            <span class="btn btn-primary btn-file">Choose File…</span>
                          </span>
                          <input class="form-control ng-pristine ng-valid ng-touched"  placeholder="Upto 4mb file size allowed"></div>
                      </div>

                      <div class="col-md-6">
                        <button type="button" class="btn btn-primary">Upload</button>
                      </div>
                    </div>
                  </form>
                </div>

                <div class="table-responsive top-padding10">
                  <table class="zoom table table-striped table-bordered">
                    <thead>
                      <tr class="table-head-color">
                        <th width="20%">Row #</th>
                        <th width="60%">File Name</th>
                        <th width="20%">Action</th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr>
                        <td> <u><a href="">
                              <span ng-click=""> <font color="black">1003</font>
                              </span>
                            </a></u> 
                        </td>
                        <td>test</td>
                        <td>
                          <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </td>
                      </tr>

                      <tr>
                        <td> <u><a href="">
                              <span ng-click=""> <font color="black">1001</font>
                              </span>
                            </a></u> 
                        </td>
                        <td>test</td>
                        <td>
                          <a href="" ng-click="setWarningFlag()"><i class="fa fa-trash-o" aria-hidden="true"></i></a> 
                        </td>
                      </tr>

                      <tr>
                        <td> <u><a href="">
                              <span ng-click=""> <font color="black">1002</font>
                              </span>
                            </a></u> 
                        </td>
                        <td>test</td>
                        <td>
                          <a href="" ng-click="setWarningFlag()"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                        </td>
                      </tr>                                            
                    </tbody>
                  </table>
                </div>

                <div class="bottom-padding30" ng-show="warningFlag">
                  <span class="warning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
                  Do you want to delete attachment named "TMMi.pptx" ?
                  <div>
                    <button type="button" class="btn btn-default" ng-click="setWarningFlagFlase()">Cancel</button>
                    <button type="button" class="btn btn-primary">Confirmed</button>
                  </div>        
                </div>


               <div class="modal-footer">
                  <button type="button" class="btn btn-default" 
                     data-dismiss="modal">Closed
                  </button>
               </div>

            </div><!-- /.modal-content -->
          </div><!-- /.modal -->
      </div>
    </div>
    <!--end wrapper-->
  </div>
<!--end main content-->
</section>