<link rel="stylesheet" href="styles/style.css"/>


<script src="scripts/jquery-1.10.2.min.js"></script>
<script src="scripts/modernizr.min.js"></script>
<script src="scripts/jquery.nicescroll.js"></script>

<link rel="stylesheet" href="styles/step_descriptor.css"/>

<script src="scripts/scripts.js"></script>
<script src="scripts/cbpFWTabs.js"></script>


<section>
  <!-- left side start-->
  <div class="left-side sticky-left-side">
    <!--logo and iconic logo start-->
    <div class="logo">
      <a href="#/">
        <img src="images/HPE_logo.png" alt=""></a>
    </div>

    <div class="logo-icon text-center">
      <a href="#/">
        <img src="images/logo_icon.png" alt=""></a>
    </div>
    <!--logo and iconic logo end-->

    <runoob-directive></runoob-directive>
  </div>
  <!-- left side end-->

  <!-- main content start-->
  <div class="main-content" >

    <!-- header section start-->
    <div class="header-section">
      <!--toggle button start-->
      <a class="toggle-btn"> <i class="fa fa-bars"></i>
      </a>
      <!--toggle button end-->
      <span>
        <img src="images/droid.png" class="projecticon"></span>

      <!--toggle button end-->
      <div class="menu-right">
        <i class="fa fa-user"></i>
        <span>Jason Zhang(Administrator)</span>
      </div>

    </div>
    <!-- header section end-->

    <!--body wrapper start-->
    <div class="wrapper">
      <div class="pageTitle">
        <i class="fa fa-th"></i><span>ROI Analysis</span>
      </div>

      <div> 
        <ul id="myTab" class="nav nav-tabs">
          <li class="active tab-title"><a href="javascript:void(0);#Tab1" data-toggle="tab">Event Design</a></li>
          <li class="tab-title"><a href="javascript:void(0);#Tab2" data-toggle="tab">Forecast Modeling</a></li>
          <li class="tab-title"><a href="javascript:void(0);#Tab3" data-toggle="tab">Finacial Review</a></li>
          <li class="tab-title"><a href="javascript:void(0);#Tab4"  data-toggle="tab">Submit for Approval</a></li>
        </ul>
      </div>

      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="Tab1">
          <div class="subPageTitle">
            <i class="fa fa-list"></i><span>Event Design</span>
          </div>        

          <div class="filter-seperator">
            <div class="row form-inline">
              <div  class="col-xs-12 col-sm-10 ctr-filter">
                <div ng-if="filterBtn == true" id="btnFilter2" 
                    class="btn filter-float btn-filter clearEffects btn-filter-color" 
                    ng-click="clickFn('filter')">
                  Filter 
                  <i class="fa fa-chevron-down icon-blue" aria-hidden="true"></i>
                </div>
                <div ng-if="filterBtn == false" id="btnFilter2" 
                    class="btn filter-float btn-filter btn-filter-color withEffects" 
                    ng-click="clickFn('filter-close')">
                  Filter
                  <i class="fa fa-chevron-up icon-blue" aria-hidden="true"></i>
                </div>
              </div>
            </div>

            <div id="filterId" ng-show="filterPanel">
              <div class="form-group">
                <form role="form">
                  <div class="row">                        
                    <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
                      <label class="nowrap">PoR ID:</label>
                    </div>
                    <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="PoR ID..." >
                      </div>
                    </div>

                    <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
                      <label>Region:</label>
                    </div>
                    <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
                      <div class="input-group">
                        <button type="button" id="dropdownMenu1" 
                    data-toggle="dropdown" class="btn btn-default form-control ctm-content">
                          <span class="btntext zselect">Choose Region...</span>                          
                          <span class="fa fa-chevron-down pull-right icon-blue" aria-hidden="true"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                          <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">item one</a>
                          </li>
                          <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">item two</a>
                          </li>
                          <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">item three</a>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
                      <label class="nowrap">PoR Title:</label>
                    </div>
                    <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
                      <div class="input-group">
                        <input type="text"  class="form-control"  placeholder="PoR Title..."></div>
                    </div>

                    <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
                      <label>Subregion:</label>
                    </div>
                    <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
                      <div class="input-group">
                        <button type="button" id="dropdownMenu1" 
                    data-toggle="dropdown" class="btn btn-default form-control ctm-content">
                          <span class="btntext zselect">Choose Subregion...</span>                          
                          <span class="fa fa-chevron-down pull-right icon-blue" aria-hidden="true"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                          <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">item one</a>
                          </li>
                          <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">item two</a>
                          </li>
                          <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">item three</a>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
                      <label class="nowrap">PoR Status:</label>
                    </div>
                    <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
                      <div class="input-group">
                        <button type="button" id="dropdownMenu1" 
                    data-toggle="dropdown" class="btn btn-default form-control ctm-content">
                          <span class="btntext zselect">Choose PoR Status...</span>
                          <span class="fa fa-chevron-down pull-right icon-blue" aria-hidden="true"></span>          
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                          <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">item one</a>
                          </li>
                          <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">item two</a>
                          </li>
                          <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">item three</a>
                          </li>
                        </ul>

                      </div>
                    </div>

                    <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
                      <label>BU:</label>
                    </div>
                    <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
                      <div class="input-group">
                        <button type="button" id="dropdownMenu1" 
                    data-toggle="dropdown" class="btn btn-default form-control ctm-content">
                          <span class="btntext zselect">Choose BU...</span>                          
                          <span class="fa fa-chevron-down pull-right icon-blue" aria-hidden="true"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                          <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">item one</a>
                          </li>
                          <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">item two</a>
                          </li>
                          <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">item three</a>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
                      <label class="nowrap">Planning Period:</label>
                    </div>
                    <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
                      <div class="input-group">
                        <input type="text"  class="form-control"  placeholder="Planning Period...">
                      </div>
                    </div>

                    <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
                      <label>Country:</label>
                    </div>
                    <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
                      <div class="input-group">
                        <button type="button" id="dropdownMenu1" 
                    data-toggle="dropdown" class="btn btn-default form-control ctm-content">
                          <span class="btntext zselect">Choose Country...</span>
                          <span class="fa fa-chevron-down pull-right icon-blue" aria-hidden="true"></span>          
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                          <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">item one</a>
                          </li>
                          <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">item two</a>
                          </li>
                          <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">item three</a>
                          </li>
                        </ul>

                      </div>
                    </div>

                    <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
                      <label class="nowrap">Planning Period:</label>
                    </div>
                    <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
                      <div class="input-group">
                        <input type="text"  class="form-control"  placeholder="Planning Period...">
                      </div>
                    </div>

                    <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
                      <label>Approval Status:</label>
                    </div>
                    <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
                      <div class="input-group">
                        <button type="button" id="dropdownMenu1" 
                    data-toggle="dropdown" class="btn btn-default form-control ctm-content">
                          <span class="btntext zselect">Choose Approval Status...</span>
                          <span class="fa fa-chevron-down pull-right icon-blue" aria-hidden="true"></span>          
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                          <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">item one</a>
                          </li>
                          <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">item two</a>
                          </li>
                          <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">item three</a>
                          </li>
                        </ul>

                      </div> 
                    </div>
                    <div class="col-sm-12 col-md-6  col-lgf-2 col-h">
                      <button type="button" class="btn btn-primary">Search</button>
                    </div>

                    <div class="col-sm-12 col-md-6  col-lgf-2 col-h">
                      <button type="button" class="btn btn-primary">Reset</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="top-padding5">
            <div class="row">
              <div class="ol-sm-12 col-md-6 col-lgf-6">
                <div class="input-group">
                  <span class="input-group-addon marL5">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </span>
                  <input class="form-control ng-pristine ng-valid ng-touched" placeholder="Quick search by keyword..." type="text" ng-model="gridOptions.quickFilterText">
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lgf-6">
                <div class="input-group">
                  <div class="dropdown input-group">
                    <span class="input-group-addon marL5">
                      <i class="fa fa-table" aria-hidden="true"></i>
                    </span>
                    <button type="button" id="dropdownMenu2" 
                        data-toggle="dropdown" class="btn btn-default form-control ctm-content">
                      <span class="btntext zselect">View By</span>
                      <span class="fa fa-chevron-down pull-right icon-blue" aria-hidden="true"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                      <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="avascript:void(0);#myModal2" data-toggle="modal">Customized View</a>
                      </li>
                      <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#">View Model 1</a>
                      </li>
                      <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#">View Model 2</a>
                      </li>
                      <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#">View Model 3</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                  <div class="input-group">
                    <div class="dropdown input-group">
                      <button type="button" id="dropdownMenu1" 
                        data-toggle="dropdown" class="btn btn-default form-control ctm-content">
                        <span class="btntext zselect">Reason Code...</span>
                        <span class="fa fa-chevron-down pull-right icon-blue" aria-hidden="true"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation">
                          <a role="menuitem" tabindex="-1" href="#">Reason Code 1</a>
                        </li>
                        <li role="presentation">
                          <a role="menuitem" tabindex="-1" href="#">Reason Code 2</a>
                        </li>
                        <li role="presentation">
                          <a role="menuitem" tabindex="-1" href="#">Reason Code 3</a>
                        </li>
                      </ul>
                    </div>
                  </div>              
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <div class="dropdown input-group">
                      <button type="button" id="dropdownMenu1" 
                        data-toggle="dropdown" class="btn btn-default form-control ctm-content">
                        <span class="btntext zselect">Promo Type...</span>
                        <span class="fa fa-chevron-down pull-right icon-blue" aria-hidden="true"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation">
                          <a role="menuitem" tabindex="-1" href="#">Promo Type 1</a>
                        </li>
                        <li role="presentation">
                          <a role="menuitem" tabindex="-1" href="#">Promo Type 2</a>
                        </li>
                        <li role="presentation">
                          <a role="menuitem" tabindex="-1" href="#">Promo Type 3</a>
                        </li>
                      </ul>
                    </div>
                  </div>                
                </div>
            </div>
          </div>
<!--
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Batch Setting</h3>
            </div>
            <div class="panel-body">
            <div class="row">
                <div class="col-md-4"><label>Batch Setting:</label></div>
                <div class="col-md-4 right-margin-15">
                  <div class="input-group">
                    <div class="dropdown input-group">
                      <button type="button" id="dropdownMenu1" 
                        data-toggle="dropdown" class="btn btn-default form-control ctm-content">
                        <span class="btntext zselect">Reason Code...</span>
                        <span class="fa fa-chevron-down pull-right icon-blue" aria-hidden="true"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation">
                          <a role="menuitem" tabindex="-1" href="#">Reason Code 1</a>
                        </li>
                        <li role="presentation">
                          <a role="menuitem" tabindex="-1" href="#">Reason Code 2</a>
                        </li>
                        <li role="presentation">
                          <a role="menuitem" tabindex="-1" href="#">Reason Code 3</a>
                        </li>
                      </ul>
                    </div>
                  </div>              
                </div>
                <div class="col-md-4 right-margin-15">
                  <div class="input-group">
                    <div class="dropdown input-group">
                      <button type="button" id="dropdownMenu1" 
                        data-toggle="dropdown" class="btn btn-default form-control ctm-content">
                        <span class="btntext zselect">Promo Type...</span>
                        <span class="fa fa-chevron-down pull-right icon-blue" aria-hidden="true"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation">
                          <a role="menuitem" tabindex="-1" href="#">Promo Type 1</a>
                        </li>
                        <li role="presentation">
                          <a role="menuitem" tabindex="-1" href="#">Promo Type 2</a>
                        </li>
                        <li role="presentation">
                          <a role="menuitem" tabindex="-1" href="#">Promo Type 3</a>
                        </li>
                      </ul>
                    </div>
                  </div>                
                </div>
              </div>
              </div>
          </div>
-->
          <div id="grid1" ui-grid="{ data: myData }" class="grid" ui-grid-auto-resize></div>

          <div class="text-right tb-padding10">
            <div class="row">
              <div class="col-sm-8 col-md-8  col-lgf-8 addtolist">
                <button type="button" class="btn btn-primary" >Delete</button>
                <button type="button" class="btn btn-primary disabled">Disable</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" 
                data-target="#myModal">View Approve Status</button>
              </div>

              <div class="col-sm-4 col-md-4  col-lgf-4">
                <button type="button" class="btn btn-primary">Save Later</button>
                <a class="btn btn-primary" href="#/financial" role="button">Financial Review</a>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="Tab2">
          <div class="subPageTitle">
            <i class="fa fa-list"></i><span>Forecast Modeling</span>
          </div>        
          <section>
            <div class="row">
              <div class="col-md-6">
                <div class="col-md-4"><label>Event Plan Title:</label></div>
                <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
              </div>

              <div class="col-md-6">
                <div class="col-md-4"><label>GBU:</label></div>
                <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
              </div>            

              <div class="col-md-6">
                <div class="col-md-4"><label>Event Start Date:</label></div>
                <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
              </div>

              <div class="col-md-6">
                <div class="col-md-4"><label>Region:</label></div>
                <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
              </div>

              <div class="col-md-6">
                <div class="col-md-4"><label>Event End Date:</label></div>
                <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
              </div> 

              <div class="col-md-6">
                <div class="col-md-4"><label>Subregion:</label></div>
                <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
              </div> 

              <div class="col-md-6">
                <div class="col-md-4"><label>Event:</label></div>
                <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
              </div> 

              <div class="col-md-6" ng-class="status">
                <div class="col-md-4"><label>Country:</label></div>
                <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
              </div> 
            </div>
          </section>

          <section>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Additional Investments</h3>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <form role="form">
                    <div class="row">
                      <div class="col-sm-6 col-md-2  col-lgf-2">
                        <label>MDF:</label>
                      </div>
                      <div class="col-sm-6 col-md-4  col-lgf-2">
                        <label>$101,000.00</label>
                        <span class="lr-padding10">($USD)</span>
                      </div>
                      <div class="col-sm-6 col-md-6  col-lgf-2">
                        <label>Description:</label>
                        <span class="lr-padding10">Digtal demand generation spend</span>
                      </div>
                      <div class="col-sm-6 col-md-2  col-lgf-2">
                        <label>Cashback:</label>
                      </div>
                      <div class="col-sm-6 col-md-4  col-lgf-2">
                        <label>$101,000.00</label>
                        <span class="lr-padding10">($USD)</span>
                      </div>
                      <div class="col-sm-6 col-md-6  col-lgf-2">
                        <label>Description:</label>
                        <span class="lr-padding10">Digtal demand generation spend</span>
                      </div>
                      <div class="col-sm-6 col-md-2  col-lgf-2">
                        <label>Engine:</label>
                      </div>
                      <div class="col-sm-6 col-md-4  col-lgf-2">
                        <label>$101,000.00</label>
                        <span class="lr-padding10">($USD)</span>
                      </div>
                      <div class="col-sm-6 col-md-6 col-lgf-2">
                        <label>Description:</label>
                        <span class="lr-padding10">Digtal demand generation spend</span>
                      </div>

                      <div class="col-sm-6 col-md-2  col-lgf-2">
                        <label>Other:</label>
                      </div>
                      <div class="col-sm-6 col-md-4  col-lgf-2">
                        <label>$101,000.00</label>
                        <span class="lr-padding10">($USD)</span>
                      </div>
                      <div class="col-sm-6 col-md-6  col-lgf-2">
                        <label>Description:</label>
                        <span class="lr-padding10">Digtal demand generation spend</span>
                      </div>
                      <div class="col-sm-6 col-md-2  col-lgf-2">
                        <label>Total:</label>
                      </div>
                      <div class="col-sm-6 col-md-4  col-lgf-2">
                        <label>$101,000.00</label>
                        <span class="lr-padding10">($USD)</span>
                      </div>
                      <div class="col-sm-6 col-md-6  col-lgf-2">
                        <label>Description:</label>
                        <span class="lr-padding10">Digtal demand generation spend</span>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>                                           
          </section>             
        </div>

        <div class="tab-pane fade" id="Tab3">
          <div class="subPageTitle">
            <i class="fa fa-list"></i><span>Finacial Review</span>
          </div>         
          <section>
            <div class="row">
              <div class="col-md-6">
                <div class="col-md-4"><label>Event Plan Title:</label></div>
                <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
              </div>

              <div class="col-md-6">
                <div class="col-md-4"><label>GBU:</label></div>
                <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
              </div>            

              <div class="col-md-6">
                <div class="col-md-4"><label>Event Start Date:</label></div>
                <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
              </div>

              <div class="col-md-6">
                <div class="col-md-4"><label>Region:</label></div>
                <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
              </div>

              <div class="col-md-6">
                <div class="col-md-4"><label>Event End Date:</label></div>
                <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
              </div> 

              <div class="col-md-6">
                <div class="col-md-4"><label>Subregion:</label></div>
                <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
              </div> 

              <div class="col-md-6">
                <div class="col-md-4"><label>Event:</label></div>
                <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
              </div> 

              <div class="col-md-6" ng-class="status">
                <div class="col-md-4"><label>Country:</label></div>
                <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
              </div> 
            </div>
          </section>

          <section>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Additional Investments</h3>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <form role="form">
                    <div class="row">
                      <div class="col-sm-6 col-md-2  col-lgf-2">
                        <label>MDF:</label>
                      </div>
                      <div class="col-sm-6 col-md-4  col-lgf-2">
                        <label>$101,000.00</label>
                        <span class="lr-padding10">($USD)</span>
                      </div>
                      <div class="col-sm-6 col-md-6  col-lgf-2">
                        <label>Description:</label>
                        <span class="lr-padding10">Digtal demand generation spend</span>
                      </div>
                      <div class="col-sm-6 col-md-2  col-lgf-2">
                        <label>Cashback:</label>
                      </div>
                      <div class="col-sm-6 col-md-4  col-lgf-2">
                        <label>$101,000.00</label>
                        <span class="lr-padding10">($USD)</span>
                      </div>
                      <div class="col-sm-6 col-md-6  col-lgf-2">
                        <label>Description:</label>
                        <span class="lr-padding10">Digtal demand generation spend</span>
                      </div>
                      <div class="col-sm-6 col-md-2  col-lgf-2">
                        <label>Engine:</label>
                      </div>
                      <div class="col-sm-6 col-md-4  col-lgf-2">
                        <label>$101,000.00</label>
                        <span class="lr-padding10">($USD)</span>
                      </div>
                      <div class="col-sm-6 col-md-6 col-lgf-2">
                        <label>Description:</label>
                        <span class="lr-padding10">Digtal demand generation spend</span>
                      </div>

                      <div class="col-sm-6 col-md-2  col-lgf-2">
                        <label>Other:</label>
                      </div>
                      <div class="col-sm-6 col-md-4  col-lgf-2">
                        <label>$101,000.00</label>
                        <span class="lr-padding10">($USD)</span>
                      </div>
                      <div class="col-sm-6 col-md-6  col-lgf-2">
                        <label>Description:</label>
                        <span class="lr-padding10">Digtal demand generation spend</span>
                      </div>
                      <div class="col-sm-6 col-md-2  col-lgf-2">
                        <label>Total:</label>
                      </div>
                      <div class="col-sm-6 col-md-4  col-lgf-2">
                        <label>$101,000.00</label>
                        <span class="lr-padding10">($USD)</span>
                      </div>
                      <div class="col-sm-6 col-md-6  col-lgf-2">
                        <label>Description:</label>
                        <span class="lr-padding10">Digtal demand generation spend</span>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>                                           
          </section>             
        </div>

        <div class="tab-pane fade" id="Tab4">
          <div class="subPageTitle">
            <i class="fa fa-list"></i><span>Submit for Approval</span>
          </div>          
          <section>
            <div class="row">
              <div class="col-md-6">
                <div class="col-md-4"><label>Event Plan Title:</label></div>
                <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
              </div>

              <div class="col-md-6">
                <div class="col-md-4"><label>GBU:</label></div>
                <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
              </div>            

              <div class="col-md-6">
                <div class="col-md-4"><label>Event Start Date:</label></div>
                <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
              </div>

              <div class="col-md-6">
                <div class="col-md-4"><label>Region:</label></div>
                <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
              </div>

              <div class="col-md-6">
                <div class="col-md-4"><label>Event End Date:</label></div>
                <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
              </div> 

              <div class="col-md-6">
                <div class="col-md-4"><label>Subregion:</label></div>
                <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
              </div> 

              <div class="col-md-6">
                <div class="col-md-4"><label>Event:</label></div>
                <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
              </div> 

              <div class="col-md-6" ng-class="status">
                <div class="col-md-4"><label>Country:</label></div>
                <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
              </div> 
            </div>
          </section>

          <section>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Additional Investments</h3>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <form role="form">
                    <div class="row">
                      <div class="col-sm-6 col-md-2  col-lgf-2">
                        <label>MDF:</label>
                      </div>
                      <div class="col-sm-6 col-md-4  col-lgf-2">
                        <label>$101,000.00</label>
                        <span class="lr-padding10">($USD)</span>
                      </div>
                      <div class="col-sm-6 col-md-6  col-lgf-2">
                        <label>Description:</label>
                        <span class="lr-padding10">Digtal demand generation spend</span>
                      </div>
                      <div class="col-sm-6 col-md-2  col-lgf-2">
                        <label>Cashback:</label>
                      </div>
                      <div class="col-sm-6 col-md-4  col-lgf-2">
                        <label>$101,000.00</label>
                        <span class="lr-padding10">($USD)</span>
                      </div>
                      <div class="col-sm-6 col-md-6  col-lgf-2">
                        <label>Description:</label>
                        <span class="lr-padding10">Digtal demand generation spend</span>
                      </div>
                      <div class="col-sm-6 col-md-2  col-lgf-2">
                        <label>Engine:</label>
                      </div>
                      <div class="col-sm-6 col-md-4  col-lgf-2">
                        <label>$101,000.00</label>
                        <span class="lr-padding10">($USD)</span>
                      </div>
                      <div class="col-sm-6 col-md-6 col-lgf-2">
                        <label>Description:</label>
                        <span class="lr-padding10">Digtal demand generation spend</span>
                      </div>

                      <div class="col-sm-6 col-md-2  col-lgf-2">
                        <label>Other:</label>
                      </div>
                      <div class="col-sm-6 col-md-4  col-lgf-2">
                        <label>$101,000.00</label>
                        <span class="lr-padding10">($USD)</span>
                      </div>
                      <div class="col-sm-6 col-md-6  col-lgf-2">
                        <label>Description:</label>
                        <span class="lr-padding10">Digtal demand generation spend</span>
                      </div>
                      <div class="col-sm-6 col-md-2  col-lgf-2">
                        <label>Total:</label>
                      </div>
                      <div class="col-sm-6 col-md-4  col-lgf-2">
                        <label>$101,000.00</label>
                        <span class="lr-padding10">($USD)</span>
                      </div>
                      <div class="col-sm-6 col-md-6  col-lgf-2">
                        <label>Description:</label>
                        <span class="lr-padding10">Digtal demand generation spend</span>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>                                           
          </section>             
        </div>
      </div>


    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-sheet">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Approval Detail Status</h4>
          </div>
          <div class="modal-body">

            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="col-md-2">
                      <label>Owner:</label>
                    </div>
                    <div class="col-md-10">wen.zhang3@hpe.com</div>
                  </div>
                  <div class="col-md-6">
                    <div class="col-md-2">
                      <label>Guardrails:</label>
                    </div>
                    <div class="col-md-5">
                      Duration
                      <i class="fa fa-circle fa-lg table-icon-green" aria-hidden="true"></i>

                    </div>
                    <div class="col-md-5">
                      ROI Accessment
                      <i class="fa fa-circle fa-lg table-icon-green" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <ul id="myTab" class="nav nav-tabs">
              <li class="active tab-title"><a href="javascript:void(0);#Tab1" data-toggle="tab">Event Design</a></li>
              <li class="tab-title"><a href="javascript:void(0);#Tab2" data-toggle="tab">Forecast Modeling</a></li>
              <li class="tab-title"><a href="javascript:void(0);#Tab3" data-toggle="tab">Finacial Review</a></li>
              <li class="tab-title"><a href="javascript:void(0);#Tab4"  data-toggle="tab">Submit for Approval</a></li>
            </ul>
            <div id="myTabContent" class="tab-content top-padding10">
              <div class="tab-pane fade in active" id="Tab1">
                <div class="row">
                  <div class="col-md-6">
                    <div class="col-md-4"><label>Event Plan Title:</label></div>
                    <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
                  </div>

                  <div class="col-md-6">
                    <div class="col-md-4"><label>GBU:</label></div>
                    <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
                  </div>            

                  <div class="col-md-6">
                    <div class="col-md-4"><label>Event Start Date:</label></div>
                    <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
                  </div>

                  <div class="col-md-6">
                    <div class="col-md-4"><label>Region:</label></div>
                    <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
                  </div>

                  <div class="col-md-6">
                    <div class="col-md-4"><label>Event End Date:</label></div>
                    <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
                  </div> 

                  <div class="col-md-6">
                    <div class="col-md-4"><label>Subregion:</label></div>
                    <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
                  </div> 

                  <div class="col-md-6">
                    <div class="col-md-4"><label>Event:</label></div>
                    <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
                  </div> 

                  <div class="col-md-6" ng-class="status">
                    <div class="col-md-4"><label>Country:</label></div>
                    <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
                  </div> 
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Additional Investments</h3>
                  </div>
                  <div class="panel-body">
                    <div class="form-group">
                      <form role="form">
                        <div class="row">
                          <div class="col-sm-6 col-md-2  col-lgf-2">
                            <label>MDF:</label>
                          </div>
                          <div class="col-sm-6 col-md-4  col-lgf-2">
                            <label>$101,000.00</label>
                            <span class="lr-padding10">($USD)</span>
                          </div>
                          <div class="col-sm-6 col-md-6  col-lgf-2">
                            <label>Description:</label>
                            <span class="lr-padding10">Digtal demand generation spend</span>
                          </div>
                          <div class="col-sm-6 col-md-2  col-lgf-2">
                            <label>Cashback:</label>
                          </div>
                          <div class="col-sm-6 col-md-4  col-lgf-2">
                            <label>$101,000.00</label>
                            <span class="lr-padding10">($USD)</span>
                          </div>
                          <div class="col-sm-6 col-md-6  col-lgf-2">
                            <label>Description:</label>
                            <span class="lr-padding10">Digtal demand generation spend</span>
                          </div>
                          <div class="col-sm-6 col-md-2  col-lgf-2">
                            <label>Engine:</label>
                          </div>
                          <div class="col-sm-6 col-md-4  col-lgf-2">
                            <label>$101,000.00</label>
                            <span class="lr-padding10">($USD)</span>
                          </div>
                          <div class="col-sm-6 col-md-6 col-lgf-2">
                            <label>Description:</label>
                            <span class="lr-padding10">Digtal demand generation spend</span>
                          </div>

                          <div class="col-sm-6 col-md-2  col-lgf-2">
                            <label>Other:</label>
                          </div>
                          <div class="col-sm-6 col-md-4  col-lgf-2">
                            <label>$101,000.00</label>
                            <span class="lr-padding10">($USD)</span>
                          </div>
                          <div class="col-sm-6 col-md-6  col-lgf-2">
                            <label>Description:</label>
                            <span class="lr-padding10">Digtal demand generation spend</span>
                          </div>
                          <div class="col-sm-6 col-md-2  col-lgf-2">
                            <label>Total:</label>
                          </div>
                          <div class="col-sm-6 col-md-4  col-lgf-2">
                            <label>$101,000.00</label>
                            <span class="lr-padding10">($USD)</span>
                          </div>
                          <div class="col-sm-6 col-md-6  col-lgf-2">
                            <label>Description:</label>
                            <span class="lr-padding10">Digtal demand generation spend</span>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>                                           

              </div>
              <div class="tab-pane fade" id="Tab2">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="col-md-4"><label>Event Plan Title:</label></div>
                        <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
                      </div>

                      <div class="col-md-6">
                        <div class="col-md-4"><label>GBU:</label></div>
                        <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
                      </div>            

                      <div class="col-md-6">
                        <div class="col-md-4"><label>Event Start Date:</label></div>
                        <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
                      </div>

                      <div class="col-md-6">
                        <div class="col-md-4"><label>Region:</label></div>
                        <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
                      </div>

                      <div class="col-md-6">
                        <div class="col-md-4"><label>Event End Date:</label></div>
                        <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
                      </div> 

                      <div class="col-md-6">
                        <div class="col-md-4"><label>Subregion:</label></div>
                        <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
                      </div> 

                      <div class="col-md-6">
                        <div class="col-md-4"><label>Event:</label></div>
                        <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
                      </div> 

                      <div class="col-md-6" ng-class="status">
                        <div class="col-md-4"><label>Country:</label></div>
                        <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
                      </div> 

                    </div>                              
                  </div>
                </div>              
              </div>
              <div class="tab-pane fade" id="Tab3">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="col-md-4"><label>Event Plan Title:</label></div>
                        <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
                      </div>

                      <div class="col-md-6">
                        <div class="col-md-4"><label>GBU:</label></div>
                        <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
                      </div>            

                      <div class="col-md-6">
                        <div class="col-md-4"><label>Event Start Date:</label></div>
                        <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
                      </div>

                      <div class="col-md-6">
                        <div class="col-md-4"><label>Region:</label></div>
                        <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
                      </div>

                      <div class="col-md-6">
                        <div class="col-md-4"><label>Event End Date:</label></div>
                        <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
                      </div> 

                      <div class="col-md-6">
                        <div class="col-md-4"><label>Subregion:</label></div>
                        <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
                      </div> 

                      <div class="col-md-6">
                        <div class="col-md-4"><label>Event:</label></div>
                        <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
                      </div> 

                      <div class="col-md-6" ng-class="status">
                        <div class="col-md-4"><label>Country:</label></div>
                        <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
                      </div> 

                    </div>                              
                  </div>
                </div>               
              </div>
              <div class="tab-pane fade" id="Tab4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="col-md-4"><label>Event Plan Title:</label></div>
                        <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
                      </div>

                      <div class="col-md-6">
                        <div class="col-md-4"><label>GBU:</label></div>
                        <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
                      </div>            

                      <div class="col-md-6">
                        <div class="col-md-4"><label>Event Start Date:</label></div>
                        <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
                      </div>

                      <div class="col-md-6">
                        <div class="col-md-4"><label>Region:</label></div>
                        <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
                      </div>

                      <div class="col-md-6">
                        <div class="col-md-4"><label>Event End Date:</label></div>
                        <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
                      </div> 

                      <div class="col-md-6">
                        <div class="col-md-4"><label>Subregion:</label></div>
                        <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
                      </div> 

                      <div class="col-md-6">
                        <div class="col-md-4"><label>Event:</label></div>
                        <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
                      </div> 

                      <div class="col-md-6" ng-class="status">
                        <div class="col-md-4"><label>Country:</label></div>
                        <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
                      </div> 

                    </div>                              
                  </div>
                </div>               
              </div>
            </div>


            <div class="modal-footer">
              <button type="button" class="btn btn-primary" 
               data-dismiss="modal">OK</button>
            </div>

          </div>
          <!-- /.modal-content --> </div>
        <!-- /.modal --> </div>
      <!--body wrapper end-->
      <!--footer section start-->
      <!--
        <footer>© Copyright 2016 Hewlett Packard Enterprise Development LP</footer>
    -->
    <!--footer section end--> 
    </div>
  <!-- main content end-->
  </div>
</section>
