<link rel="stylesheet" href="styles/left-menu.css"/>
<script src="scripts/modernizr.min.js"></script>
<script src="scripts/jquery.nicescroll.js"></script>
<script src="scripts/scripts.js"></script>


<section>
  <!-- left side start-->
  <div class="left-side sticky-left-side left-menu-body">
    <!--logo and iconic logo start-->
    <div class="logo">
      <a href="#/">
        <img src="images/HPE_logo.png" alt=""></a>
    </div>

    <div class="logo-icon text-center">
      <a href="#/">
        <img src="images/logo_icon.png" alt=""></a>
    </div>
    <!--logo and iconic logo end-->

    <runoob-directive></runoob-directive>
  </div>
  <!-- left side end-->

  <!-- main content start-->
  <div class="main-content" >
    <!-- header section start-->
    <div class="header-section">
      <!--toggle button start-->
      <a class="toggle-btn">
        <i class="fa fa-bars"></i>
      </a>
      <span class="droid-icon">
        <img src="images/droid.png" class="projecticon">
      </span>

      <!--toggle button end-->
      <div class="menu-right">
        <i class="fa fa-user"></i>
        <span>Jason Zhang(Administrator)</span>
      </div>
    </div>
    <!-- header section end-->

    <!--body wrapper start-->
    <div class="wrapper">
      <div> 
        <ul id="myTab" class="nav nav-tabs">
          <li class="tab-title"><a href="javascript:void(0);#Tab1" data-toggle="tab">Event Design</a></li>
          <li class="tab-title"><a href="javascript:void(0);#Tab2" data-toggle="tab">Forecast Modeling</a></li>
          <li class="tab-title"><a href="javascript:void(0);#Tab3" data-toggle="tab">Finacial Review</a></li>
          <li class="active tab-title"><a href="javascript:void(0);#Tab4"  data-toggle="tab">Submit for Approval</a></li>
        </ul>
      </div>
      <div class="row top-margin10">
        <div class="col-md-12">
          <button class="btn btn-primary" data-toggle="modal" data-target="#myModal2"> 
            <i class="fa fa-angle-double-left right-margin5" aria-hidden="true"></i>Prev
          </button>
          <button class="btn btn-primary" data-toggle="modal" data-target="#myModal2">Submit to Approval</button>
        </div>    
      </div>
      <div id="myTabContent" class="tab-content top-padding10">
        <div class="tab-pane fade in active" id="Tab1">       
          <section>
            <div>
              <label>Event Level Guardrail</label>
              <span class="status-title-divide">
                <span>Duration</span> 
                <a href="#" data-toggle="tooltip" 
                title="<div class='tooltips-header'><label>Tooltips Title</label></div>
                <div class='tooltips-content'>Description: This guardrail checks the Adjusted Net Price against the BD net price of the SKU present in all 'No Touch' deals that will be active across EMEA during the duration of the event</div>">
                  <i class="fa fa-circle table-icon-green lr-padding10" aria-hidden="true"></i>
                </a>
              </span>

              <span class="status-title-divide">
                <span>ROI</span> 
                <a href="#" data-toggle="tooltip" title="<div class='tooltips-header'><label>ROI Feasibility Guardrail</label></div><p class='tooltips-content'>Description: This guardrail checks the Adjusted Net Price against the BD net price of the SKU present in all 'No Touch' deals that will be active across EMEA during the duration of the event</p>">
                  <i class="fa fa-circle table-icon-warning lr-padding10" aria-hidden="true"></i>
                </a>
              </span>

              <span class="status-title-divide">
                <span>Default</span> 
                <a href="#" data-toggle="tooltip" title="<div class='tooltips-header'><label>ROI Feasibility Guardrail</label></div><p class='tooltips-content'>Description: This guardrail checks the Adjusted Net Price against the BD net price of the SKU present in all 'No Touch' deals that will be active across EMEA during the duration of the event</p>">
                  <i class="fa fa-circle table-icon-gray lr-padding10" aria-hidden="true"></i>
                </a>
              </span>

              <span class="status-title-divide">
                <span>Yellow</span> 
                <a href="#" data-toggle="tooltip" title="<div class='tooltips-header'><label>ROI Feasibility Guardrail</label></div><p class='tooltips-content'>Description: This guardrail checks the Adjusted Net Price against the BD net price of the SKU present in all 'No Touch' deals that will be active across EMEA during the duration of the event</p>">
                  <i class="fa fa-circle table-icon-approving lr-padding10" aria-hidden="true"></i>
                </a>
              </span>

              <span class="pull-right ">
                <span>Approved: </span> <i class="fa fa-check-circle-o table-icon-green iconPaddingLeft5 right-margin30" aria-hidden="true"></i>
                <span>Pending: </span> <i class="fa fa-question-circle-o table-icon-approving iconPaddingLeft5 right-margin30" aria-hidden="true"></i>
                <span>Rejected: </span> <i class="fa fa-ban table-icon-warning iconPaddingLeft5" aria-hidden="true"></i>
              </span>
            </div>   


            <div>
              <table class="table table-condensed table-bordered">
                <tbody>
                <tr>
                  <th class="text-center process-guadrail-approved">Level1</th>
                  <th colspan=2 class="text-center process-guadrail-approved">Leve2</th>
                  <th colspan=2 class="text-center process-guadrail-Current">Leve3</th>
                  <th class="text-center">Leve4</th>
                </tr>

                <tr class="text-center">
                  <td class="process-guadrail-approved">
                    <span>Group1</span> 
                  </td>
                  <td class="process-guadrail-approved">
                    <span>Group2</span>
                  </td>
                  <td class="process-guadrail-approved">
                    <span>Group3</span>
                    </td>
                  <td class="process-guadrail-Current">
                    <span>Group4</span>
                  </td>
                  <td>
                    <span>Group5</span>
                  </td>
                  <td>
                    <span>Group6</span>
                  </td>
                </tr>

                <tr class="text-center">
                  <td class="">
                    <div class="tb-padding10">
                      wen.zhang3@hpe.com <i class="fa fa-check-circle-o fa-2x table-icon-green" aria-hidden="true"></i>
                    </div>
                    <div class="tb-padding10">
                      wen.zhang3@hpe.com <i class="fa fa-check-circle-o fa-2x table-icon-green" aria-hidden="true"></i>
                    </div>                
                  </td>
                  <td>
                    <div class="tb-padding10">
                      wen.zhang3@hpe.com <i class="fa fa-check-circle-o fa-2x table-icon-green" aria-hidden="true"></i>
                    </div>
                    <div class="tb-padding10">
                      wen.zhang3@hpe.com <i class="fa fa-check-circle-o fa-2x table-icon-green" aria-hidden="true"></i>
                    </div>                
                  </td>
                  <td>
                    <div class="tb-padding10">
                      wen.zhang3@hpe.com <i class="fa fa-check-circle-o table-icon-green fa-2x" aria-hidden="true"></i>
                    </div>                
                    <div class="tb-padding10">
                      wen.zhang3@hpe.com <i class="fa fa-ban table-icon-warning fa-2x" aria-hidden="true"></i>
                    </div>
                  </td>
                  <td>
                    <div class="tb-padding10">
                      wen.zhang3@hpe.com <i class="fa fa-question-circle-o table-icon-approving fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="tb-padding10">
                      wen.zhang3@hpe.com <i class="fa fa-question-circle-o table-icon-approving fa-2x" aria-hidden="true"></i>
                    </div>                
                  </td>
                  <td>
                    <div class="tb-padding10">
                      wen.zhang3@hpe.com <i class="fa fa-question-circle-o table-icon-approving fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="tb-padding10">
                      wen.zhang3@hpe.com <i class="fa fa-question-circle-o table-icon-approving fa-2x" aria-hidden="true"></i>
                    </div>                
                  </td>
                  <td>
                    <div class="tb-padding10">
                      wen.zhang3@hpe.com <i class="fa fa-question-circle-o table-icon-approving fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="tb-padding10">
                      wen.zhang3@hpe.com <i class="fa fa-question-circle-o table-icon-approving fa-2x" aria-hidden="true"></i>
                    </div>                
                  </td>
                </tr>
                </tbody>
              </table>  
            </div>

            <div>
              <label>SKU Detail Approval</label>
                <span class="status-title-divide">
                  <span>In/out:</span>
                  <i class="fa fa-check-circle lr-padding10 table-icon-green" aria-hidden="true"></i>                
                </span>

                <span class="status-title-divide">
                  <span>Revert:</span>
                  <i class="fa fa-undo lr-padding10 table-icon-green" aria-hidden="true"></i>                
                </span>

                <span class="status-title-divide">
                  <span>Follow:</span> 
                  <i class="fa fa-clone lr-padding10 table-icon-green" aria-hidden="true"></i>                
                </span>                                                       
            </div>  

            <div id="grid1" ui-grid="gridOptions" ui-grid-grouping class="grid"></div>

            <div class="top-padding20">
              <hr> 
            </div>
            <div class="row">
              <div class="col-md-2"><label>Business Justification:</label></div>
              <div class="col-md-10">
                <textarea class="form-control ng-pristine ng-valid ng-valid-required ng-touched" rows="5" placeholder="Please input your business Justification firstly, then you can submit to Approval."></textarea>
              </div>  
            </div>
          </section>
        </div>
      </div>

      <!-- 模态框（Modal） -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
         aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-dialog-sheet">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal" aria-hidden="true">
                      &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                   Import SKU from csv file
                </h4>
              </div>

              <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Please download a template from <a href=""><strong>here</strong></a>.
                </p>


                <div class="form-group">
                  <form role="form">
                    <div class="row">
                      <div class="col-md-1">
                        <label>File:</label>
                      </div>
                      <div class="col-md-5">
                        <div class="input-group">
                          <span class="input-group-btn">
                            <span class="btn btn-primary btn-file">Choose File…</span>
                          </span>
                          <input class="form-control ng-pristine ng-valid ng-touched"  placeholder="Upto 4mb file size allowed"></div>
                      </div>

                      <div class="col-md-6">
                        <button type="button" class="btn btn-primary">Upload</button>
                      </div>
                    </div>
                  </form>
                </div>

                <div class="table-responsive top-padding10">
                  <table class="zoom table table-striped table-bordered">
                    <thead>
                      <tr class="table-head-color">
                        <th width="10%">Row #</th>
                        <th width="50%">Prod</th>
                        <th width="40%">Process Result</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td> <u><a href="">
                              <span ng-click=""> <font color="black">1003</font>
                              </span>
                            </a></u> 
                        </td>
                        <td>test</td>
                        <td class="action nowrap">
                          <span>Pending</span>
                        </td>
                      </tr>

                      <tr>
                        <td> <u><a href="">
                              <span ng-click=""> <font color="black">1001</font>
                              </span>
                            </a></u> 
                        </td>
                        <td>test</td>
                        <td class="action nowrap">
                          <span>Pass</span>
                        </td>
                      </tr>

                      <tr>
                        <td> <u><a href="">
                              <span ng-click=""> <font color="black">1002</font>
                              </span>
                            </a></u> 
                        </td>
                        <td>test</td>
                        <td class="action nowrap">
                          <span>Fail</span>
                        </td>
                      </tr>                                            
                    </tbody>
                  </table>              
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" 
                     data-dismiss="modal">OK
                  </button>
                </div>
            </div>  
          </div><!-- /.modal-content -->
        </div><!-- /.modal -->
      </div>

      <!-- 模态框2 for upload（Modal） -->
      <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" 
         aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-sheet">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" 
                     data-dismiss="modal" aria-hidden="true">
                        &times;
                  </button>
                  <h4 class="modal-title" id="myModalLabel">
                     Add attachment for SKU J4858C
                  </h4>
               </div>
               <div class="modal-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Please download a template from <a href=""><strong>here</strong></a>.
                  </p>
                <div class="form-group">
                  <form role="form">
                    <div class="row">
                      <div class="col-md-1">
                        <label>Source File:</label>
                      </div>
                      <div class="col-md-5">
                        <div class="input-group">
                          <span class="input-group-btn">
                            <span class="btn btn-primary btn-file">Choose File…</span>
                          </span>
                          <input class="form-control ng-pristine ng-valid ng-touched"  placeholder="Upto 4mb file size allowed"></div>
                      </div>

                      <div class="col-md-6">
                        <button type="button" class="btn btn-primary">Upload</button>
                      </div>
                    </div>
                  </form>
                </div>

                <div class="table-responsive top-padding10">
                  <table class="zoom table table-striped table-bordered">
                    <thead>
                      <tr class="table-head-color">
                        <th width="20%">Row #</th>
                        <th width="60%">File Name</th>
                        <th width="20%">Action</th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr>
                        <td> <u><a href="">
                              <span ng-click=""> <font color="black">1003</font>
                              </span>
                            </a></u> 
                        </td>
                        <td>test</td>
                        <td>
                          <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </td>
                      </tr>

                      <tr>
                        <td> <u><a href="">
                              <span ng-click=""> <font color="black">1001</font>
                              </span>
                            </a></u> 
                        </td>
                        <td>test</td>
                        <td>
                          <a href="" ng-click="setWarningFlag()"><i class="fa fa-trash-o" aria-hidden="true"></i></a> 
                        </td>
                      </tr>

                      <tr>
                        <td> <u><a href="">
                              <span ng-click=""> <font color="black">1002</font>
                              </span>
                            </a></u> 
                        </td>
                        <td>test</td>
                        <td>
                          <a href="" ng-click="setWarningFlag()"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                        </td>
                      </tr>                                            
                    </tbody>
                  </table>
                </div>

                <div class="bottom-padding30" ng-show="warningFlag">
                  <span class="warning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
                  Do you want to delete attachment named "TMMi.pptx" ?
                  <div>
                    <button type="button" class="btn btn-default" ng-click="setWarningFlagFlase()">Cancel</button>
                    <button type="button" class="btn btn-primary">Confirmed</button>
                  </div>        
                </div>


               <div class="modal-footer">
                  <button type="button" class="btn btn-default" 
                     data-dismiss="modal">Closed
                  </button>
               </div>
             </div> 
            </div><!-- /.modal-content -->
          </div><!-- /.modal -->
      </div>
      
    </div>
  </div>
<!-- main content end-->
</section>

