<link rel="stylesheet" href="styles/step_descriptor.css"/>
<link rel="stylesheet" href="styles/process-bar.css"/>
<link rel="stylesheet" href="styles/left-menu.css"/>

<script src="scripts/modernizr.min.js"></script>
<script src="scripts/jquery.nicescroll.js"></script>
<script src="scripts/scripts.js"></script>

<section>
  <!-- left side start-->
  <div class="left-side sticky-left-side left-menu-body">
    <!--logo and iconic logo start-->
    <div class="logo">
      <a href="#/">
        <img src="images/HPE_logo.png" alt=""></a>
    </div>

    <div class="logo-icon text-center">
      <a href="#/">
        <img src="images/logo_icon.png" alt=""></a>
    </div>
    <!--logo and iconic logo end-->

    <runoob-directive></runoob-directive>
  </div>
  <!-- left side end-->

  <!-- main content start-->
  <div class="main-content" >
    <!-- header section start-->
    <div class="header-section">
      <!--toggle button start-->
      <a class="toggle-btn">
        <i class="fa fa-bars"></i>
      </a>
      <span>
        <img src="images/droid.png" class="projecticon">
      </span>

      <!--toggle button end-->
      <div class="menu-right">
        <i class="fa fa-user"></i>
        <span>Jason Zhang(Administrator)</span>
      </div>
    </div>
    <!-- header section end-->

    <!--body wrapper start-->
    <div class="wrapper">
      <div> 
        <ul id="myTab" class="nav nav-tabs">
          <li class="active tab-title"><a href="javascript:void(0);#Tab1" data-toggle="tab">Event Design</a></li>
          <li class="tab-title"><a href="javascript:void(0);#Tab2" data-toggle="tab">Forecast Modeling</a></li>
          <li class="tab-title"><a href="javascript:void(0);#Tab3" data-toggle="tab">Finacial Review</a></li>
          <li class="tab-title"><a href="javascript:void(0);#Tab4"  data-toggle="tab">Submit for Approval</a></li>
        </ul>
      </div>

      <div id="myTabContent" class="tab-content top-padding10">
        <div class="tab-pane fade in active" id="Tab1">       
          <section>
            <div class="row">
              <div class="col-md-6">
                <div class="col-md-4"><label>Event Plan Title:</label></div>
                <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
              </div>

              <div class="col-md-6">
                <div class="col-md-4"><label>GBU:</label></div>
                <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
              </div>            

              <div class="col-md-6">
                <div class="col-md-4"><label>Event Start Date:</label></div>
                <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
              </div>

              <div class="col-md-6">
                <div class="col-md-4"><label>Region:</label></div>
                <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
              </div>

              <div class="col-md-6">
                <div class="col-md-4"><label>Event End Date:</label></div>
                <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
              </div> 

              <div class="col-md-6">
                <div class="col-md-4"><label>Subregion:</label></div>
                <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
              </div> 

              <div class="col-md-6">
                <div class="col-md-4"><label>Event:</label></div>
                <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
              </div> 

              <div class="col-md-6" ng-class="status">
                <div class="col-md-4"><label>Country:</label></div>
                <div class="col-md-8"><div class="readonly">Lorem ipsum dolor sit amet, consectetur</div></div>
              </div> 
            </div>
          </section>

          <section>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Additional Investments</h3>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <form role="form">
                    <div class="row">
                      <div class="col-sm-6 col-md-2  col-lgf-2">
                        <label>MDF:</label>
                      </div>
                      <div class="col-sm-6 col-md-4  col-lgf-2">
                        <label>$101,000.00</label>
                        <span class="lr-padding10">($USD)</span>
                      </div>
                      <div class="col-sm-6 col-md-6  col-lgf-2">
                        <label>Description:</label>
                        <span class="lr-padding10">Digtal demand generation spend</span>
                      </div>
                      <div class="col-sm-6 col-md-2  col-lgf-2">
                        <label>Cashback:</label>
                      </div>
                      <div class="col-sm-6 col-md-4  col-lgf-2">
                        <label>$101,000.00</label>
                        <span class="lr-padding10">($USD)</span>
                      </div>
                      <div class="col-sm-6 col-md-6  col-lgf-2">
                        <label>Description:</label>
                        <span class="lr-padding10">Digtal demand generation spend</span>
                      </div>
                      <div class="col-sm-6 col-md-2  col-lgf-2">
                        <label>Engine:</label>
                      </div>
                      <div class="col-sm-6 col-md-4  col-lgf-2">
                        <label>$101,000.00</label>
                        <span class="lr-padding10">($USD)</span>
                      </div>
                      <div class="col-sm-6 col-md-6 col-lgf-2">
                        <label>Description:</label>
                        <span class="lr-padding10">Digtal demand generation spend</span>
                      </div>

                      <div class="col-sm-6 col-md-2  col-lgf-2">
                        <label>Other:</label>
                      </div>
                      <div class="col-sm-6 col-md-4  col-lgf-2">
                        <label>$101,000.00</label>
                        <span class="lr-padding10">($USD)</span>
                      </div>
                      <div class="col-sm-6 col-md-6  col-lgf-2">
                        <label>Description:</label>
                        <span class="lr-padding10">Digtal demand generation spend</span>
                      </div>
                      <div class="col-sm-6 col-md-2  col-lgf-2">
                        <label>Total:</label>
                      </div>
                      <div class="col-sm-6 col-md-4  col-lgf-2">
                        <label>$101,000.00</label>
                        <span class="lr-padding10">($USD)</span>
                      </div>
                      <div class="col-sm-6 col-md-6  col-lgf-2">
                        <label>Description:</label>
                        <span class="lr-padding10">Digtal demand generation spend</span>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>                                           
          </section>
        </div>

        <div class="tab-pane fade" id="Tab2">   

          <div id="grid1" ui-grid="gridOptions" class="grid" ui-grid-auto-resize></div>
        </div>

        <div class="tab-pane fade" id="Tab3">
          <div class="row">
            <div class="col-sm-8 col-md-8 col-lgf-8">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Business Case</h3>
                </div>
                <div class="panel-body">
                  <ul id="myTab" class="nav nav-tabs">
                    <li class="active tab-title">
                      <a href="javascript:void(0);#Tab5" data-toggle="tab">Baseline ROI Analysis</a>
                    </li>
                    <li class="tab-title">
                      <a href="javascript:void(0);#Tab6" data-toggle="tab">YoY Increamental ROI Analysis</a>
                    </li>
                  </ul>

                  <div id="myTabContent" class="tab-content top-margin10">
                    <div class="tab-pane fade" id="Tab5">

                      <table class="table table-striped table-condensed table-bordered">
                          <tr>
                            <th rowspan="5" class="table-vcenter">Business Case Details</th>
                            <td></td>
                            <td>Forecast</td>
                            <td>Base</td>
                            <td>Incremental</td>
                          </tr>
                          <tr>
                            <td>Volume</td>
                            <td ng-bind="BusinessCase.VolumeForecast" class="ng-binding">4033.21</td>
                            <td ng-bind="BusinessCase.VolumeBase" class="ng-binding">5742.26</td>
                            <td ng-bind="BusinessCase.VolumeIncremental" class="ng-binding">-1709.05</td>
                          </tr>
                          <tr>

                            <td>Net Revenue</td>
                            <td ng-bind="BusinessCase.NetRevForecast|currency:'$':0" class="ng-binding">$736,575</td>
                            <td ng-bind="BusinessCase.NetRevBase|currency:'$':0" class="ng-binding">$695,639</td>
                            <td ng-bind="BusinessCase.NetRevIncremental|currency:'$':0" class="ng-binding">$40,937</td>
                          </tr>
                          <tr>

                            <td>Gross Margin</td>
                            <td class="ng-binding">$667,218(91.0%)</td>
                            <td class="ng-binding">$595,884 (86.0%)</td>
                            <td class="ng-binding">$71,334</td>
                          </tr>
                          <tr>

                            <td>Total NTP Spend</td>
                            <td colspan="3" class="table-hcenter ng-binding" ng-bind="BusinessCase.TotalNTPSpeed|currency:'$':0">$305,601</td>
                          </tr>
                          <tr>
                            <th>ROI Analysis</th>
                            <td colspan="4" class="table-hcenter ng-binding" ng-bind="BusinessCase.ROIAnalysis|Percentage">-362.0%</td>
                          </tr>
                          <tr>
                            <th>Volume Feasibility</th>
                            <td colspan="2" class="table-hcenter ng-binding" ng-bind="BusinessCase.FeasibilityAnalysisBase|Percentage">-30.0%</td>
                            <td colspan="2" class="table-hcenter ng-binding" ng-bind="BusinessCase.FeasibilityAnalysisHistorical|Percentage">50.0%</td>
                          </tr>
                          <tr>
                            <th>Event Duration</th>
                            <td colspan="4" class="table-hcenter ng-binding">1 Month(s)</td>
                          </tr>
                      </table>
                    </div>

                    <div class="tab-pane fade" id="Tab6">
                      <table class="table table-striped table-condensed table-bordered">
                        <tr>
                          <th rowspan="5" class="table-vcenter">Business Case Details</th>
                          <td></td>
                          <td>Forecast</td>
                          <td>Base</td>
                          <td>Incremental</td>
                        </tr>
                        <tr>
                          <td>Volume</td>
                          <td ng-bind="BusinessCase.VolumeForecast" class="ng-binding">4033.21</td>
                          <td ng-bind="BusinessCase.VolumeBase" class="ng-binding">5742.26</td>
                          <td ng-bind="BusinessCase.VolumeIncremental" class="ng-binding">-1709.05</td>
                        </tr>
                        <tr>
                          <td>Net Revenue</td>
                          <td ng-bind="BusinessCase.NetRevForecast|currency:'$':0" class="ng-binding">$736,575</td>
                          <td ng-bind="BusinessCase.NetRevBase|currency:'$':0" class="ng-binding">$695,639</td>
                          <td ng-bind="BusinessCase.NetRevIncremental|currency:'$':0" class="ng-binding">$40,937</td>
                        </tr>
                        <tr>
                          <td>Gross Margin</td>
                          <td class="ng-binding">$667,218(91.0%)</td>
                          <td class="ng-binding">$595,884 (86.0%)</td>
                          <td class="ng-binding">$71,334</td>
                        </tr>
                        <tr>
                          <td>Total NTP Spend</td>
                          <td colspan="3" class="table-hcenter ng-binding" ng-bind="BusinessCase.TotalNTPSpeed|currency:'$':0">$305,601</td>
                        </tr>
                        <tr>
                          <th>YoY Volume Feasibility</th>
                          <td colspan="4" class="table-hcenter ng-binding">-8%</td>
                        </tr>
                        <tr>
                          <th>Event Duration</th>
                          <td colspan="4" class="table-hcenter ng-binding">1 Month(s)</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-4 col-md-4 col-lgf-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    Event Level Guardrail Check
                  </h3>
                </div>
                <div class="panel-body">
                  <nvd3 options='options' data='data'></nvd3>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading"> 
              <h3 class="panel-title"> 
                Event Level Guardrail Check 
              </h3> 
            </div>
            <div class="panel-body"> 
              <ul id="myTab" class="nav nav-tabs">
                <li class="active tab-title"><a href="javascript:void(0);#promo-type" data-toggle="tab">No-Touch Type</a></li>
                <li class="tab-title"><a href="javascript:void(0);#reason-code" data-toggle="tab">Reason Code</a></li>
                <li class="tab-title"><a href="javascript:void(0);#busines-ssegment" data-toggle="tab">Business Segment</a></li>
                <li class="tab-title"><a href="javascript:void(0);#product-category"  data-toggle="tab">Product Category</a></li>
              </ul>

              <div id="myTabContent" class="tab-content top-margin">       
                <div class="tab-pane fade in active" id="promo-type">
                  <div class="col-md-6">
                    <div class="panel panel-default"> 
                      <div class="panel-heading"> 
                        <h3 class="panel-title"> 
                          Net Rev ($) 
                        </h3> 
                      </div> 
                      <div class="panel-body"> 
                        <nvd3 options='options' data='data'></nvd3> 
                      </div> 
                    </div>                
                  </div>
                  <div class="col-md-6">
                    <div class="panel panel-default"> 
                      <div class="panel-heading"> 
                        <h3 class="panel-title"> 
                          Gross Margin ($, %) 
                        </h3> 
                      </div> 
                      <div class="panel-body"> 
                        <nvd3 options='options' data='data'></nvd3> 
                      </div> 
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade in" id="reason-code">
                  <div class="col-md-6">
                    <div class="panel panel-default"> 
                      <div class="panel-heading"> 
                        <h3 class="panel-title"> 
                          Net Rev ($) 
                        </h3> 
                      </div> 
                      <div class="panel-body"> 
                        <nvd3 options='options' data='data'></nvd3> 
                      </div> 
                    </div>                
                  </div>
                  <div class="col-md-6">
                    <div class="panel panel-default"> 
                      <div class="panel-heading"> 
                        <h3 class="panel-title"> 
                          Gross Margin ($, %) 
                        </h3> 
                      </div> 
                      <div class="panel-body"> 
                        <nvd3 options='options' data='data'></nvd3> 
                      </div> 
                    </div>
                  </div>              
                </div>
                <div class="tab-pane fade in" id="busines-ssegment">
                  <div class="col-md-6">
                    <div class="panel panel-default"> 
                      <div class="panel-heading"> 
                        <h3 class="panel-title"> 
                          Net Rev ($) 
                        </h3> 
                      </div> 
                      <div class="panel-body"> 
                        <nvd3 options='options' data='data'></nvd3> 
                      </div> 
                    </div>                
                  </div>
                  <div class="col-md-6">
                    <div class="panel panel-default"> 
                      <div class="panel-heading"> 
                        <h3 class="panel-title"> 
                          Gross Margin ($, %) 
                        </h3> 
                      </div> 
                      <div class="panel-body"> 
                        <nvd3 options='options' data='data'></nvd3> 
                      </div> 
                    </div>
                  </div>            
                </div>
                <div class="tab-pane fade in" id="product-category">
                  <div class="col-md-6">
                    <div class="panel panel-default"> 
                      <div class="panel-heading"> 
                        <h3 class="panel-title"> 
                          Net Rev ($) 
                        </h3> 
                      </div> 
                      <div class="panel-body"> 
                        <nvd3 options='options' data='data'></nvd3> 
                      </div> 
                    </div>                
                  </div>
                  <div class="col-md-6">
                    <div class="panel panel-default"> 
                      <div class="panel-heading"> 
                        <h3 class="panel-title"> 
                          Gross Margin ($, %) 
                        </h3> 
                      </div> 
                      <div class="panel-body"> 
                        <nvd3 options='options' data='data'></nvd3> 
                      </div> 
                    </div>
                  </div>            
                </div>                              
              </div>          
            </div> 
          </div>                     
        </div>

        <div class="tab-pane fade" id="Tab4">
          <div>
            <label>Event Level Guardrail</label>
            <span class="status-title-divide">
              <span>Duration</span> 
              <i class="fa fa-circle fa-lg table-icon-green lr-padding10" aria-hidden="true"></i>
            </span>

            <span class="status-title-divide">
              <span>ROI</span> 
              <i class="fa fa-circle fa-lg table-icon-warning lr-padding10" aria-hidden="true"></i>
            </span>

            <span class="pull-right ">
            <span>Approved: </span> <i class="fa fa-check-circle-o table-icon-green iconPaddingLeft5 right-margin30" aria-hidden="true"></i>
              <span>Pending: </span> <i class="fa fa-question-circle-o table-icon-approving iconPaddingLeft5 right-margin30" aria-hidden="true"></i>
              <span>Rejected: </span> <i class="fa fa-ban table-icon-warning iconPaddingLeft5" aria-hidden="true"></i>
            </span>

            <hr>
          </div>
          <table class="table table-condensed table-bordered">
            <tbody>
              <tr>
                <td class="text-center process-guadrail-approved">Level1</td>
                <td colspan=2 class="text-center process-guadrail-Current">Level2</td>
                <td colspan=2 class="text-center process-guadrail-default">Level3</td>
                <td class="text-center process-guadrail-default">Level4</td>
              </tr>
              <tr class="text-center">
                <td class="process-guadrail-approved">
                  <span>Group1 <i class="fa fa-angle-double-right" aria-hidden="true"></i></span> 
                </td>
                <td class="process-guadrail-approved">
                  <label>Group2 <i class="fa fa-angle-double-right" aria-hidden="true"></i></label>
                </td>
                <td class="process-guadrail-Current">
                  <label>Group3 <i class="fa fa-angle-double-right" aria-hidden="true"></i></label>
                  </td>
                <td>
                  <label>Group4 <i class="fa fa-angle-double-right" aria-hidden="true"></i></label>
                </td>
                <td>
                  <label>Group5 <i class="fa fa-angle-double-right" aria-hidden="true"></i></label>
                </td>
                <td>
                  <label>Group6</label>
                </td>
              </tr>
              
              <tr class="text-center">
                <td class="">
                  <div class="tb-padding10">
                    wen.zhang3@hpe.com <i class="fa fa-check-circle-o fa-2x table-icon-green" aria-hidden="true"></i>
                  </div>
                  <div class="tb-padding10">
                    wen.zhang3@hpe.com <i class="fa fa-check-circle-o fa-2x table-icon-green" aria-hidden="true"></i>
                  </div>                
                </td>
                <td>
                  <div class="tb-padding10">
                    wen.zhang3@hpe.com <i class="fa fa-check-circle-o fa-2x table-icon-green" aria-hidden="true"></i>
                  </div>
                  <div class="tb-padding10">
                    wen.zhang3@hpe.com <i class="fa fa-check-circle-o fa-2x table-icon-green" aria-hidden="true"></i>
                  </div>                
                </td>
                <td>
                  <div class="tb-padding10">
                    wen.zhang3@hpe.com <i class="fa fa-check-circle-o table-icon-green fa-2x" aria-hidden="true"></i>
                  </div>                
                  <div class="tb-padding10">
                    wen.zhang3@hpe.com <i class="fa fa-ban table-icon-warning fa-2x" aria-hidden="true"></i>
                  </div>
                </td>
                <td>
                  <div class="tb-padding10">
                    wen.zhang3@hpe.com <i class="fa fa-question-circle-o table-icon-approving fa-2x" aria-hidden="true"></i>
                  </div>
                  <div class="tb-padding10">
                    wen.zhang3@hpe.com <i class="fa fa-question-circle-o table-icon-approving fa-2x" aria-hidden="true"></i>
                  </div>                
                </td>
                <td>
                  <div class="tb-padding10">
                    wen.zhang3@hpe.com <i class="fa fa-question-circle-o table-icon-approving fa-2x" aria-hidden="true"></i>
                  </div>
                  <div class="tb-padding10">
                    wen.zhang3@hpe.com <i class="fa fa-question-circle-o table-icon-approving fa-2x" aria-hidden="true"></i>
                  </div>                
                </td>
                <td>
                  <div class="tb-padding10">
                    wen.zhang3@hpe.com <i class="fa fa-question-circle-o table-icon-approving fa-2x" aria-hidden="true"></i>
                  </div>
                  <div class="tb-padding10">
                    wen.zhang3@hpe.com <i class="fa fa-question-circle-o table-icon-approving fa-2x" aria-hidden="true"></i>
                  </div>                
                </td>
              </tr>
            </tbody>
          </table>

          <section>
            <div>
              <label>SKU Detail Approval</label>
              <hr> 
            </div>            
          </section>
          <section>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <i class="fa fa-commenting-o" aria-hidden="true"></i><span class="left-margin10">Comment</span>
                </h3>
              </div>
              <div class="panel-body">
                <section class="comment">
                  <div class="comment-title">
                    wen.zhang3@hpe.com
                    <span class="panel-title-divide">Submit for Approval</span>
                    <span class="panel-title-divide">2016-08-08 08:08:08</span>
                    <span class="panel-title-divide">XXXXXX-001</span> 
                  </div>
                  <div class="comment-content">
                    Most likely the icon you are looking is already available inside Grommet iconography. This is how you import it. Most likely the icon you are looking is already available inside Grommet iconography. This is how you import it. Most likely the icon you are looking is already available inside Grommet iconography. This is how you import it.
                  </div>
                </section>
                <section class="comment">
                  <div class="comment-title">
                    wen.zhang3@hpe.com
                    <span class="panel-title-divide">Submit for Approval</span>
                    <span class="panel-title-divide">2016-08-08 08:08:08</span>
                    <span class="panel-title-divide">XXXXXX-001</span> 
                  </div>
                  <div class="comment-content">
                    Most likely the icon you are looking is already available inside Grommet iconography. This is how you import it. Most likely the icon you are looking is already available inside Grommet iconography. This is how you import it. Most likely the icon you are looking is already available inside Grommet iconography. This is how you import it.
                  </div>
                </section>  
                <section class="comment">
                  <div class="comment-title">
                    wen.zhang3@hpe.com
                    <span class="panel-title-divide">Submit for Approval</span>
                    <span class="panel-title-divide">2016-08-08 08:08:08</span>
                    <span class="panel-title-divide">XXXXXX-001</span> 
                  </div>
                  <div class="comment-content">
                    Most likely the icon you are looking is already available inside Grommet iconography. This is how you import it. Most likely the icon you are looking is already available inside Grommet iconography. This is how you import it. Most likely the icon you are looking is already available inside Grommet iconography. This is how you import it.
                  </div>
                </section>  
                <section class="comment">
                  <div class="comment-title">
                    wen.zhang3@hpe.com
                    <span class="panel-title-divide">Submit for Approval</span>
                    <span class="panel-title-divide">2016-08-08 08:08:08</span>
                    <span class="panel-title-divide">XXXXXX-001</span> 
                  </div>
                  <div class="comment-content">
                    Most likely the icon you are looking is already available inside Grommet iconography. This is how you import it.
                  </div>
                </section>  
                <section class="comment">
                  <div class="comment-title">
                    wen.zhang3@hpe.com
                    <span class="panel-title-divide">Submit for Approval</span>
                    <span class="panel-title-divide">2016-08-08 08:08:08</span>
                    <span class="panel-title-divide">XXXXXX-001</span> 
                  </div>
                  <div class="comment-content">
                    Most likely the icon you are looking is already available inside Grommet iconography. This is how you import it.
                  </div>
                </section>                                                                  
              </div>
            </div>
          </section>          
        </div>
      </div>


      
    </div>
  </div>
<!-- main content end-->
</section>